* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #28af79;
  background-color: rgb(252, 252, 252);
}

table {
  border: 2px solid #28af79;
  color: rgb(22, 22, 22);
  border-radius: 5px;
  margin: 50px auto;
  border-collapse: collapse;
  width: 100%;
}

.text-center {
  text-align: center;
}

thead {
  background: #28af79;
}

thead {
  color: white;
}

td,
th {
  border: 1px solid black;
  padding: 5px 0;
}

h1 {
  padding: 10px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.center {
  width: 160px;
  margin: 20px auto;
}

#get_customer_data {
  background-color: #28af79;
  color: rgb(240, 240, 240);
  border: none;
  font-weight: 700;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: all 0.2s ease-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#get_customer_data:hover {
  background-color: rgb(136, 233, 176);
  color: rgb(60, 106, 59);
  box-shadow: 0px 15px 20px rgba(41, 213, 144, 0.4);
  transform: translateY(-7px);
}

#get_customer_data:active {
  transform: translateY(2px);
}

tbody tr:nth-child(even) {
  background: #ecf0f1;
}

@keyframes show-table {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dynamic-content {
  animation-name: show-table;
  animation-duration: 0.5s;
}
